.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    top: 0;
    left: 0;
    z-index: 99998;
    filter: url("#goo");
    mix-blend-mode: difference;

    @media (max-width: 991px) {
        display: none;
    }

    & span {
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background-color: #fff;
        transform-origin: center center;
        transform: translate(-50%, -50%);
    }
}