.footer {
    background: $color_green;
    padding: clamp(10px, 2.6vw, 50px) 0;
    z-index: 3;
    position: relative;

    &__container {
        display: grid;
        gap: clamp(10px, 2.6vw, 50px);
    }

    &__btn {
        border-radius: 0;
        width: 100%;
        height: clamp(51px, 13.69vw, 263px);
        border: clamp(.4px, 0.1vw, 2px) solid $color_black;
        border-radius: clamp(9.7px, 2.6vw, 50px);
        color: $color_black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(19.5px, 5.2vw, 100px);
        letter-spacing: calc(clamp(1.5px, 0.41vw, 8px) * -1);

        & svg {
            width: clamp(18px, 5.05vw, 97px);
            position: absolute;
            right: clamp(15px, 3.85vw, 74px);
            height: auto;
        }
    }

    &__logo {
        width: 100%;
        height: auto;
        color: $color_black;

        @media (max-width: 730px) {
            grid-row: 3;
            margin-top: 20px;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(20px, 2.6vw, 50px);
        color: $color_black;

        @media (max-width: 730px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        letter-spacing: -1px;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }
}