.container
    .home-about__title.animation-lines
        p(data-aos="lines") Наша команда <span>уже 12 лет</span> разрабытывает стильные сайты с сильным маркетингом и <span>современным стильным дизайном</span>

    .home-about__text.letter-spacing.animation-lines
        p(data-aos="lines" data-aos-delay="100") <span>Мы умеем делать сайты, которые</span> выделят <span>вашу компанию</span> в конкурентной среде <span>и станут</span> достойной инвестицией в <strong>будущее</strong>. 