section.preloader(data-preloader)
    .preloader__progress
    .container
        .preloader__percent(data-preloader-percent) 0
        svg.preloader__logo(width="301" height="83")
            use(xlink:href="@img/icons/icons.svg#logo")