extends base

block meta
    - var seotitle = 'Статья'
    - var seodescription = ''
    - var seokeywords = ''

block main
    main.main._top
        .case__intro-ripples(data-ripples-img="@img/tmp/case-intro@2x.jpg" data-aos="zoom-out" data-scroll-opacity)

        section.rellax._black(data-rellax-speed="2")
            section.section._pt0._pb0
                .container
                    h1.case__h1.animation-lines
                        span(data-aos="lines") Что такое умный сайт

        section.section._pt0
            .container
                .case__texts
                    .case__text
                        .case__subtitle.animation-lines
                            p(data-aos="lines") На сколько важен качественный адаптивный дизйан? Давайте рассмотрим варианты применения различных вариантов верстки для типовых сайтов.

                        .case__small.case__richtext.case__animation-lines(data-aos="lines")
                            p **Умный сайт** — это веб-ресурс, который использует современные технологии и методы для улучшения пользовательского опыта. Он может включать в себя различные функции, такие как персонализация контента, адаптивный дизайн, искусственный интеллект, машинное обучение и другие.
                            p Умный сайт может адаптироваться под потребности пользователя, предлагать ему персонализированный контент и услуги, а также предоставлять более удобный и эффективный опыт взаимодействия с сайтом.
                            p **Вот некоторые примеры функций умного сайта:**
                                br 
                                | * **Персонализация.** Умный сайт анализирует поведение пользователя на сайте и предлагает ему контент, услуги или продукты, которые могут быть ему интересны.
                                br 
                                | * **Адаптивный дизайн.** Сайт автоматически подстраивается под размер экрана устройства пользователя, обеспечивая удобство просмотра на разных устройствах.
                                br 
                                | * **Искусственный интеллект.** Умный сайт использует алгоритмы машинного обучения для анализа данных о поведении пользователей и оптимизации работы сайта.
                                br 
                                | * **Голосовой поиск.** Пользователи могут взаимодействовать с умным сайтом с помощью голосовых команд, что делает его более удобным для использования на мобильных устройствах.
                                br 
                                | * **Чат-боты.** Умные сайты могут использовать чат-ботов для предоставления информации и помощи пользователям в режиме реального времени.

                            p В целом, умный сайт — это сайт, который стремится к улучшению пользовательского опыта и повышению эффективности взаимодействия между сайтом и пользователями.

        section.section._pt0
            .container
                .case__texts._mt50
                    .case__text
                        .case__default.animation-lines
                            p(data-aos="lines") После запуска нового корпоративного сайта, брэнд быстро завоевал популярность у потребителей и партнеров компании. Современный дизайн и продуманный интерфейс привели к быстрому росту посетителей, повышению лояльности, увеличению продаж и узнаваемости на рынке
                    .case__text
                        .case__default.animation-lines
                            p(data-aos="lines") После запуска нового корпоративного сайта, брэнд быстро завоевал популярность у потребителей и партнеров компании. Современный дизайн и продуманный интерфейс привели к быстрому росту посетителей, повышению лояльности, увеличению продаж и узнаваемости на рынке

        section.section._pb0
            .container
                .cases
                    article.cases__item(style="background: #C7352C;" data-aos="fade-up")
                        picture.cases__picture
                            source(type="image/webp" srcset="@img/tmp/case-3@2x.webp 2x, @img/tmp/case-3.webp 1x")
                            img(srcset="@img/tmp/case-3@2x.webp 2x, @img/tmp/case-3.webp 1x" alt="" width="347" height="195")
                        .cases__content
                            h3.cases__title._blog
                                a.cases__link(href="#") Прототип сайта
                            p.cases__intro На сколько важен качественный адаптивный дизйан? Давайте рассмотрим варианты применения различных вариантов верстки для типовых сайтов.
                            
                        svg.cases__arrow(width="97" height="102")
                            use(xlink:href="@img/icons/icons.svg#arrow-right")