doctype html
block html
html(lang="ru")
    head
        block meta
            - var seotitle = 'Список страниц'
            - var seodescription = ''
            - var seokeywords = ''

        include pug/core/_meta

    style(type="text/css").
        .wrap {
            width: 100vw;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 0;
        }

        .wrap__list {
            font-size: 1.2rem;
        }

        .wrap__list li:not(:last-child) {
            margin-bottom: .8rem;
        }

        .wrap__list a {
            color: currentColor;
            text-decoration: none;
        }

    body
        .wrap
            ol.wrap__list
                li
                    a(href="home.html" target="_blank") Главная страница
                li
                    a(href="home-no-animation.html" target="_blank") Главная страница (меньше анимации)
                li
                    a(href="cases.html" target="_blank") Кейсы
                li
                    a(href="cases-no-animation.html" target="_blank") Кейсы (меньше анимации)
                li
                    a(href="services.html" target="_blank") Услуги
                li
                    a(href="services-no-animation.html" target="_blank") Услуги (меньше анимации)
                li
                    a(href="contacts.html" target="_blank") Контакты
                li
                    a(href="contacts-no-animation.html" target="_blank") Контакты (меньше анимации)
                li
                    a(href="about.html" target="_blank") О компании
                li
                    a(href="about-no-animation.html" target="_blank") О компании (меньше анимации)
                li
                    a(href="video.html" target="_blank") Видеоролики
                li
                    a(href="video-no-animation.html" target="_blank") Видеоролики (меньше анимации)
                li
                    a(href="case.html" target="_blank") Кейс
                li
                    a(href="case-no-animation.html" target="_blank") Кейс (меньше анимации)
                li
                    a(href="case-video.html" target="_blank") Кейс (с видео)
                li
                    a(href="case-video-no-animation.html" target="_blank") Кейс (с видео, меньше анимации)

